* {
	margin: 0;
}

html,
body {
	height: 100%;
    width: 100%;
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	background-color: cream;
}

p {
	font-size: 1.3em;
	padding: 5px;
    color: #303179;
}

p > a {
    color: #d86856;
	/* font-weight: inherit; */
    text-decoration: none;
}
a:hover {
    color: #d86856;
}

header {
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	padding: 13px;
}



.navbar{
	padding: 20px;
	margin-top: 10px;
}

nav > ul > li {
	display: block;
	margin: 10px;
	padding-bottom: 8px;
	text-align: right;
	list-style: none;
}

.icon{
	width: 6%;
}

.home{
	width: 4%;
}

.proj{
	width: 4%;
	padding-right: 5px;
}


main {
	display: block;
	padding-bottom: 3em;
	min-height: 85%;
	text-align: left;
	margin-left: 5px;
}

img {
align-content: center;
    height: auto;
	margin-left: 20px;
}

aside,
article {
	padding: 2em;
}

article {
	width: 75%;
}

.columns {
	display: flex;
}

@media only screen and (min-width: 550px) {
	main {
		display: flex;
	}

	aside {
		margin-left: 2%;
	}
}