* {
	margin: 0;
}

html,
body {
	height: 100%;
    width: 100%;
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	background-color: cream;
}

p {
	/* margin: 0.5em 0 0.5em 0; */
	font-size: 1.3em;
	padding: 5px;
    color: #303179;
}

p > a {
    color: #d86856;
	font-weight: inherit;
    text-decoration: none;
}

header {
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	padding: 13px;
}

nav a {
    color: #ed7966;
    font-size: 1.1em;
    text-decoration: none;
}

a:hover {
    color: #d86856;
}

nav > ul {
	padding: 0;
    margin: 2px;
    float: right;
    padding-right: 25px;
}

nav > ul > li {
	display: flex;
    flex-direction: column;
    float: inline-start;
	list-style: none;
	margin: 10px;
}

main {
	display: block;
	padding-top: 3em;
	padding-bottom: 3em;
	min-height: 85%;
	text-align: left;
}

h1, h3{
    margin: 17px;

}

img {
align-content: center;
    height: auto;
	margin-left: 20px;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

aside,
article {
	padding: 2em;
}

article {
	width: 75%;
}

.columns {
	display: flex;
}

@media only screen and (min-width: 550px) {
	main {
		display: flex;
	}

	aside {
		margin-left: 2%;
	}

	/* .columns-desktop {
		display: flex;
	} */
}

/* --main-white: #f0f0f0;
--main-red: #be3144;
--main-blue: #45567d;
--main-gray: #303841;
font-family: 'Poppins', sans-serif;
font-size: 1.8rem;
font-weight: 400;
line-height: 1.4;
color: var(--main-white);
margin: 0;
box-sizing: inherit;
text-align: center;
padding: 10rem 2rem;
background: var(--main-blue); */
